<div fxLayout="column" fxLayoutAlign="start stretch" class="cards">
  <div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="90%" fxFlex.md="66.6667%" fxFlex.gt-md="50%">
      <mat-card>
        <mat-card-header>
          <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
            <h2>PM List</h2>
            <div>
              <button mat-mini-fab color="primary" aria-label="Add icon" class="mr" (click)="openPmForm = !openPmForm">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-mini-fab color="accent" aria-label="Delete icon" (click)="deletePmdata()">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
         </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ng-container *ngIf="openPmForm">
          <form [formGroup]="pmForm" fxLayout="column" fxLayoutAlign="start stretch">
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Size</mat-label>
              <input matInput formControlName="size">
            </mat-form-field> 
            <div fxLayout="row" fxLayoutAlign="end stretch">
              <button mat-raised-button color="primary" class="mr" (click)="addPmFrom()" [disabled]="pmForm.invalid">Add</button>
              <button mat-raised-button color="accent" (click)="cancelPmFrom()">Cancel</button>
            </div>
          </form>               
          </ng-container>
          
            <ng-container *ngIf="pmList.length > 0; else noData">
              <app-pm-list [pmList]="pmList"></app-pm-list>
            </ng-container>
            <ng-template #noData>
              <div fxLayout="row" fxLayoutAlign="center center" class="mt">
                <h4>No Data!</h4>
              </div>
            </ng-template>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>